<h1>Hello!</h1>
<p>Thanks for trying YQuantify. We’re thrilled to have you on board.</p>
<!-- Action -->
<p>To activate your account, please comfirm your email address:</p>
<table
  class="body-action"
  align="center"
  width="100%"
  cellpadding="0"
  cellspacing="0"
>
  <tr>
    <td align="center">
      <!-- Border based button https://litmus.com/blog/a-guide-to-bulletproof-buttons-in-email-design -->
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="center">
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>
                  <a
                    href="{{confirm_url}}"
                    class="button button--"
                    target="_blank"
                    >Confirm Email</a
                  >
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<p>Thanks, <br />{{ product_name }} Team</p>
