<h1>Hello!</h1>
<p>
  Thanks for trying YQuantify. We’re thrilled to have you on board. You've
  started a {{trial_length}} day trial. You can upgrade to a Premium
  Subscription or cancel any time.
</p>
<!-- Action -->
<table class="attributes" width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td class="attributes_content">
      <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <td>
            Begin using premium features:
          </td>
          <td class="attributes_item" align="right">
            <a href="{{upgrade_url}}" class="button button--" target="_blank"
              >Upgrade My Account</a
            >
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<p>To activate your account, please comfirm your email address:</p>
<table
  class="body-action"
  align="center"
  width="100%"
  cellpadding="0"
  cellspacing="0"
>
  <tr>
    <td align="center">
      <!-- Border based button https://litmus.com/blog/a-guide-to-bulletproof-buttons-in-email-design -->
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="center">
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>
                  <a
                    href="{{confirm_url}}"
                    class="button button--"
                    target="_blank"
                    >Confirm Email</a
                  >
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<p>
  If you have any questions, feel free to
  <a href="mailto:{{support_email}}">email our customer success team</a>. (We're
  lightning quick at replying.)
</p>
<p>Thanks, <br />{{ product_name }} Team</p>
<p>
  <strong>P.S.</strong> Need immediate help getting started? Check out our
  <a href="{{help_url}}">help documentation</a>. Or, just reply to this email,
  the {{ product_name }} support team is always ready to help!
</p>
